<div class="basic-container">
  <div class="row">
    <div class="col-sm-5">
      <mat-card class="mat-card-profile" class="mat-elevation-z4" >
        <mat-card-title >Profile</mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="col-sm-7">
              <form >
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-12">
                      <label>First Name: </label>
                      <input  placeholder="First Name" class="form-control" [formControl]="firstName" required autocomplete="user name">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-12">
                      <label>Last Name: </label>
                      <input fxLayoutAlign="center center"class="form-control"  placeholder="Last Name" [formControl]="lastName" required>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-12">
                      <label>Email</label>
                      <input placeholder="Email" class="form-control" [formControl]="email" required>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-12">
                      <label>Phone </label>
                      <input  placeholder="Phone" class="form-control" [formControl]="phone" required>
                    </div>
                  </div>
                </div>
                <button class="btn btn-primary" (click)="saveProfile()" type="submit">Save</button>
              </form>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
