<div class="basic-container">
  <div class="row">
    <div class="col-sm-5">
      <mat-card class="mat-card-profile" class="mat-elevation-z4" >
        <mat-card-title >Profile</mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="col-sm-7">
              <form [formGroup]="profileForm" (ngSubmit)="profileForm.valid &&  saveProfile()">
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-12">
                      <label>First Name: </label>
                      <input  placeholder="First Name" class="form-control" formControlName="firstName" [ngClass]="{'is-invalid': profileForm.get('firstName').touched && profileForm.get('firstName').invalid}" required autocomplete="user name">

                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-12">
                      <label>Last Name: </label>
                      <input fxLayoutAlign="center center"class="form-control"  placeholder="Last Name"  formControlName="lastName"  [ngClass]="{'is-invalid': profileForm.get('lastName').touched && profileForm.get('lastName').invalid}"required>

                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-12">
                      <label>Email</label>
                      <input placeholder="Email" class="form-control" formControlName="email"
                             [ngClass]="{'is-invalid': profileForm.get('email').touched && profileForm.get('email').invalid}"required>

                      <div *ngIf="{'is-invalid': profileForm.get('email').touched && profileForm.get('email').invalid}" class="invalid-feedback">
                        <div *ngIf="profileForm.get('email').required">Email is Required</div>
                        <div *ngIf="profileForm.get('email').email">Email must be a valid email </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-12">
                      <label>Phone </label>
                      <input  placeholder="Phone" class="form-control" formControlName="phone" [ngClass]="{'is-invalid': profileForm.get('phone').touched && profileForm.get('phone').invalid}" required>
                    </div>
                  </div>
                </div>
                <button class="btn btn-primary" [disabled]="!profileForm.valid"  type="submit">Save</button>
              </form>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
