<div class="col-sm-12" class="company-form">
  <mat-card class="mat-card-profile" class="mat-elevation-z0" >
    <mat-card-content >
      <mat-card-title >Company Information</mat-card-title>
      <div class="row">
        <div class="col-sm-9">
          <form [formGroup]="companyDetailsForm" (ngSubmit)="companyDetailsForm.valid &&  saveCompanyDetails()">
            <div class="form-group">
              <div class="row">
                <div class="col-sm-10">
                  <label>Company Name: </label>
                  <input  placeholder="Company Name" class="form-control" formControlName="name" [ngClass]="{'is-invalid': companyDetailsForm.get('name').touched && companyDetailsForm.get('name').invalid}" required>

                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-8">
                  <label>Email:</label>
                  <input placeholder="Email" class="form-control"  formControlName="email"
                         [ngClass]="{'is-invalid': companyDetailsForm.get('email').touched && companyDetailsForm.get('email').invalid}"required>
                  <div *ngIf="{'is-invalid': companyDetailsForm.get('email').touched && companyDetailsForm.get('email').invalid}" class="invalid-feedback">
                    <div *ngIf="companyDetailsForm.get('email').required">Email is Required</div>
                    <div *ngIf="companyDetailsForm.get('email').email">Email must be a valid email </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-8">
                  <label>Phone: </label>
                  <input  placeholder="Phone" class="form-control" formControlName="phone"  [ngClass]="{'is-invalid': companyDetailsForm.get('phone').touched && companyDetailsForm.get('phone').invalid}" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-10">
                  <label>Address: </label>
                  <input fxLayoutAlign="center center"class="form-control"  placeholder="Address"  formControlName="address" >
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <label>City: </label>
                  <input fxLayoutAlign="center center"class="form-control"  placeholder="City"  formControlName="city"  >
                </div>
                <div class="col-sm-3">
                  <label>State: </label>
                  <input fxLayoutAlign="center center"class="form-control"  placeholder="State"  formControlName="state"  >
                </div>
                <div class="col-sm-3">
                  <label>Zip: </label>
                  <input fxLayoutAlign="center center"class="form-control"  placeholder="Zip"  formControlName="zip"  >
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-10">
                  <label>Website: </label>
                  <input fxLayoutAlign="center center"class="form-control"  placeholder="Website"  formControlName="url" >
                </div>
              </div>
            </div>
            <div>
              <button class="btn btn-primary" [disabled]="!companyDetailsForm.valid"  type="submit">Save</button>
            </div>
          </form>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
