<div class="login-card">
<div fxLayout fxFill fxLayoutAlign="space-around center">

<mat-card class="mat-card-login  mat-elevation-z6 " >
  <mat-card-title fxLayoutAlign="center center">Log in</mat-card-title>
  <mat-card-content >
    <form class="my-form">
    <mat-form-field fxLayoutAlign="center center" >
      <input  matInput placeholder="Email" [formControl]="email" required autocomplete="username email">
    </mat-form-field>
    <mat-form-field fxLayoutAlign="center center">
      <input fxLayoutAlign="center center" matInput placeholder="Password" [formControl]="password" autocomplete="current-password" required [type]="'password'">
    </mat-form-field>
    <div fxLayoutAlign="center center" >
      <button class="btn btn-success" (click)="loginClicked()">Log in</button>
    </div>
    </form>
    <p style="color:red;">{{error}}</p>
    <p fxLayoutAlign="center center" style="margin-top: 20px">Don't have an account? <button class="border border-primary" style="margin-left: 10px" (click)="signUpClicked()" mat-raised-button>Sign Up</button></p>
    <p fxLayoutAlign="center center" style="margin-top: 20px"><a (click)="passwordResetClicked()" style="color:blue; cursor: pointer">Forgot your password?</a></p>
  </mat-card-content>
</mat-card>
</div>
</div>
