.settings-container {
  width: 90%;
  margin: auto;
}
.settings-list{
}
.inactive{
  color: #2196F3;
  text-decoration:none;
}
.mat-list a:hover{
  background-color:#40404010;
}
.active{
  color:black;
  font-weight: bold;
}
