<div class="basic-container">
  <div class="row settings-container">
    <h2>Company Settings</h2>
  </div>
<div class="row settings-container">
  <div class="col-md-3 settings-list ">
    <mat-list>
      <a class="inactive" mat-list-item  routerLink="." routerLinkActive="active"
         [routerLink]="[nav.route,{id:companyId}]"
         *ngFor="let nav of settingsNavigation">{{nav.name}}
      </a>
    </mat-list>

  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>
</div>
