<div class="row">
  <div *ngIf="!editMode; else companyDetails"class="header-container">
    <h2>Accounting Source</h2>
  </div>
</div>
<div *ngIf="!loading && !editMode" class="row justify-content-center">
  <div class="col-sm-1">
    <img class="source_button" width="100px" height="100px"
         src="https://quickbooks.intuit.com/content/dam/intuit/quickbooks/common/qb_thumb.png"
         (click)="quickbooksClicked()"/>
  </div>
  <div class="col-sm-1">
    <img class="source_button" width="100px" height="100px"
         src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Xero_software_logo.svg/1024px-Xero_software_logo.svg.png"
         (click)="xeroClicked()"/>
  </div>
  <div class="col-sm-1">
    <img class="source_button" width="100px" height="100px"
         src="https://firebasestorage.googleapis.com/v0/b/fluencyanalysis.appspot.com/o/document%20(1).png?alt=media&token=68cf6b8f-dbd7-4b86-972b-f1aa984ff851"
         (click)="csvClicked()"/>
  </div>
</div>

<div *ngIf="loading && !editMode " class="row justify-content-center">
  <br />
  <mat-progress-spinner color="warn" mode="indeterminate"></mat-progress-spinner>
</div>

<div *ngIf="loading && !editMode " class="row justify-content-center">
  <br />
  {{loadingMessage}}
</div>
<ng-template #companyDetails>
  <div class="header-container">
    <h1>Company Details</h1>
  </div>
</ng-template>

<div class="row justify-content-center" *ngIf="editMode">
<app-company-details-form></app-company-details-form>
</div>
