<div class="row">
  <div class="header-container">
    <h1>Accounting Source</h1>
  </div>
</div>
<div *ngIf="!loading" class="row justify-content-center">
  <div class="col-sm-1">
    <img width="100px" height="100px"
         src="https://quickbooks.intuit.com/content/dam/intuit/quickbooks/common/qb_thumb.png"
         (click)="quickbooksClicked()"/>
  </div>
  <div class="col-sm-1">
    <img width="100px" height="100px"
         src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Xero_software_logo.svg/1024px-Xero_software_logo.svg.png"
         (click)="xeroClicked()"/>
  </div>
  <div class="col-sm-1">
    <img width="100px" height="100px"
         src="https://firebasestorage.googleapis.com/v0/b/fluencyanalysis.appspot.com/o/document%20(1).png?alt=media&token=68cf6b8f-dbd7-4b86-972b-f1aa984ff851"
         (click)="csvClicked()"/>
  </div>
</div>
<br />
<div *ngIf="loading" class="row justify-content-center">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<br />
<div class="row justify-content-center">
  {{loadingMessage}}
</div>
