<div class="password-reset-card">
  <div fxLayout fxFill fxLayoutAlign="space-around center">

    <mat-card class="mat-card-login  mat-elevation-z6 " >
      <mat-card-title fxLayoutAlign="center center">Password Reset</mat-card-title>
      <mat-card-content >
        <form class="my-form">
          <mat-form-field fxLayoutAlign="center center" >
            <input  matInput placeholder="Email" [formControl]="email" required autocomplete="username email">
          </mat-form-field>
          <div fxLayoutAlign="center center" >
            <button class="btn btn-success" (click)="requestPasswordReset()">Request Reset</button>
          </div>
        </form>
        <p style="color:red;">{{error}}</p>
        <p fxLayoutAlign="center center"><a style="color:blue; cursor: pointer" (click)="returnLogin()">Return to log in</a></p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
