.password-reset-card {
  height: 100vh;
  width:100%;
  display: flex;
  flex-direction: column;
}
.mat-card-login{
  width:400px;
}
mat-card-content{
  margin-top: 20px;
}

mat-form-field{
  width: 100%;
}
