<!-- Start toolbar -->
<mat-toolbar  color="warn" class="app-toolbar">
  <h1 class="app-name">Fluency</h1>
  <div class="toolbar-settings">
    <mat-menu #appMenu="matMenu">
      <ng-template matMenuContent let-name="name">
        <!--<button mat-menu-item [routerLink]="['account-details']">Account Details</button>-->
        <!--<button mat-menu-item (click)="onLogoutClicked()">Log out</button>-->
      </ng-template>
    </mat-menu>

  </div>
</mat-toolbar>
<!-- End toolbar -->
<div class="basic-container">
<router-outlet></router-outlet>
</div>
