<!-- Start toolbar -->
<mat-toolbar  color="primary">
  <h1 class="app-name">Fluency</h1>
  <div class="toolbar-settings">
    <mat-menu #appMenu="matMenu">
      <ng-template matMenuContent let-name="name">
        <button mat-menu-item [routerLink]="['account-details']"> Profile</button>
        <button mat-menu-item (click)="onLogoutClicked()">Log out</button>
      </ng-template>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>
<!-- End toolbar -->
<router-outlet></router-outlet>
