<div class="row" >
  <div class="header-container">
    <h1>Companies</h1>
  </div>
  <br />
</div>
<div class="row" >
  <div class="col-sm-12">
    <table mat-table [dataSource]="companiesTable" class="mat-elevation-z0">
      <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef> <label style="font-size:16px">Name</label></th>
        <td mat-cell *matCellDef="let company"> {{company.name}} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> <label style="font-size:16px">Email</label> </th>
        <td mat-cell *matCellDef="let company"> {{company.email}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef><label style="font-size:16px">Actions</label></th>
        <td mat-cell *matCellDef="let company">
          <button mat-icon-button (click)="loadCompanyData(company)">
            <mat-icon>insert_chart_outlined</mat-icon>
          </button>
          <button mat-icon-button (click)="editCompanyClicked(company.companyId)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="addCompany">
        <th style="padding-right:0px; text-align:right;"mat-header-cell *matHeaderCellDef>
          <button mat-icon-button (click)="addCompanyClicked()">
            <mat-icon>add_circle_outlined</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let company">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
