<div class="row" style="padding-top:16px; padding-left:16px">
  <div class="col-sm-10">
    <h4>Account Classification</h4>
    <p *ngIf="isCreating">Use the following table to classify your company accounts according to your practice.</p>
  </div>
  <div *ngIf="isCreating" class="col-sm-2">
    <button class="btn btn-success" (click)="nextClicked()" >Continue</button>
  </div>
  <br />
</div>
<mat-tab-group [dynamicHeight]="true">
  <mat-tab label="P&L Accounts">
    <app-plclassification></app-plclassification>
  </mat-tab>
  <mat-tab label="Balance Sheet Accounts">
    <app-balance-classification></app-balance-classification>
  </mat-tab>
</mat-tab-group>


